#cart-widget > img{
  width: 30px;
}
#cart-widget > span{
  color: black;
  padding-left: 1rem;
  font-weight: 900;
}
.Carrito{
  display: flex;
}
.AgregarCarrito{
width: 40px;
margin-top: 10px;
margin-left: 8px;
}
.BotonAgregar{
  margin-top: 20px;
  opacity: 0.6;
  transition: all 0.6s;
}
.BotonAgregar:hover{
opacity: 1;
transform: scale(1.2, 1.2);
}
.Resta{
  font-weight: bold;
  margin-top: 10px;
  margin-left: 13px;
  transition: all 0.5s;
  width: 28px;
}
.Resta:hover{
  background-color: red;
  transform: scale(1.2, 1.2);
}
.Suma{
  font-weight: bold;
  margin-top: 10px;
  margin-left: 5px;
  transition: all 0.5s;
  width: 28px;
}
.Suma:hover{
  background-color:  rgb(14, 177, 14);
  transform: scale(1.2, 1.2);
}